
A problem has been created for your horse: <b><%= @horse.barn_name%></b>

Hello <%= @horse.user.name%>,

On <%= @problem.date %> at <%= @problem.time %> a problem was submitted for your horse.

This was submitted by: <strong><%= @current_user.name %>.</strong>

The results of the issue can be found by logging in <a href="#"><strong>here:</strong></a>
and going to your profile.

Once in your profile, click the problems button to see all current and active problems.

We've also included the submission details below:

Problem Description: <%= @problem.description %>

Any notes that were added to the problem will appear here: <%= @problem.notes%>

If you have any issues please email us at: <a href="mailto:maneframeapp@gmail.com">maneframeapp@gmail.com</a>

Thank You!