<br />
<%= bootstrap_form_for(@veterinarian) do |f| %>
<% if @veterinarian.errors.any? %>
<div id="error_explanation-veterinarian">
        <h2><%= pluralize(@veterinarian.errors.count, "error") %> prohibited this veterinarian from being saved:</h2>
        <ul>
        <% @veterinarian.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% end %>

<div class='container'>
    <%= bootstrap_form_for(@veterinarian) do |f| %>
      <h1 class="display-4">Edit Veterinarian</h1>
      <%= f.text_field :name %>
      <%= f.text_field :phone_number, id: 'phoneNum', placeHolder: '(123) 456-7890' %>
      <%= f.text_area :address %>
      <%= f.text_field :city %>
      <%= f.select :state, State.all.collect { |s| [s.state_name, s.state_code] } %>
      <%= f.number_field :zip_code , id: 'zip' %>
      <%= f.submit "Update Veterinarian", class: 'btn btn-outline-primary' %> 
        <%= link_to "Back", user_path(), class: 'btn btn-outline-secondary' %>
      <br />
      <br />
      <%= link_to "Delete Veterinarian", veterinarian_path(@veterinarian.id), data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger', method: :delete %>
    <% end %>
</div>