<br />
      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="card " style="width: 40rem;">
            <div class="card-header text-center"><%= @veterinarian.name  %></div>
              <div class="card-body text-center">
                <p class="card-title"><strong>Phone Number: </strong><%= @veterinarian.phone_number %></p>
                <p class="card-title"><strong>Address: </strong><%= @veterinarian.address %></p>
                <p class="card-text"><Strong>City: </strong><%= @veterinarian.city %>, <%= @veterinarian.state %> <%= @veterinarian.zip_code %></p>

              <div>
              <% if current_user.admin? %>
              <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Edit Veterinarian
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                    <%= render template: 'veterinarians/edit' %>
                    </div>
                  </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>