<div class="container">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="col">
      <div class="small-6 large-centered columns">
        <div class="form-inputs">
          <h2 class='form_header text-center'>Edit <%= resource_name.to_s.humanize %></h2>
          <%= f.text_field :name, required: true %>
          <%= f.email_field :email, required: true, autofocus: true %>
          <%= f.text_field :phone_number, id: 'phoneNum' %>
          <%= f.text_field :address %>
          <%= f.text_field :city %>
          <%= f.number_field :zip_code, id: 'zip' %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.password_field :password, autocomplete: "off", required: false %>
          <%= f.password_field :password_confirmation, required: false %>
          <%= f.password_field :current_password, required: true %>
          <div class="form-actions">
          <%= f.submit "Update", class: "btn btn-primary" %> <%= link_to "Back", :back, class: 'btn btn-outline-secondary' %>
          </div>
          <br />
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
        </div>
          <% end %>
    </div>
  </div>
</div>