<br>
<% if @coggin.errors.any? %>
  <div id="error_explanation-coggin">
    <h2><%= pluralize(@coggin.errors.count, "error") %> prohibited this coggin from being saved:</h2>
      <ul>
        <% @coggin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= bootstrap_form_for(@coggin) do |f| %>
  <div class="container">
        <h1>Edit Coggins File</h1>
          <%= f.select :horse_id, Horse.all.collect { |h| [h.barn_name, h.id] } %>
          <%= f.file_field :coggin %>
        <div>
          <%= f.submit 'Update', class: "btn btn-success" %>
            <%= link_to "Delete Coggins", coggin_path(@coggin.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
            <%= link_to "Back", :back, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>