<br>
  <div class='container'>
    <div class="row">
      <div class="small-6 large-centered columns">
        <div id='coggin_info'>
          <h1> Coggins File For: <%= @coggin.horse.barn_name%><h1>
          <div id='coggin_data'>
            <h3>Coggins File ID: <%= @coggin.id %></h3>
            <% if current_user.admin? %>
              <%= link_to "Download Coggins File", @coggin.coggin_url, download: '', class: "btn btn-outline-primary" %>
              <%= link_to 'Edit Coggins', edit_coggin_path(params[:id]), class: "btn btn-outline-info" %>
              <%= link_to 'Back to Horse', horse_path(@coggin.horse_id), class: "btn btn-outline-secondary" %>
              <% else %>
              <%= link_to "Download Coggins File", @coggin.coggin_url, download: '', class: "btn btn-outline-primary" %>
              <%= link_to 'Back to Horse', horse_path(@coggin.horse_id), class: "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
