
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card " style="width: 20rem;">
        <h4 class="card-header text-center"><%= @horse.barn_name %> </h4>
        <%= image_tag @horse.picture.url, :class => "card-img-top" %>
          <div class="card-body text-center">
            <h5> Owner: <%= @horse.user.name %></h5>
            <p> Owner's Email: <%= mail_to @horse.user.email %></p>
            <p>Owner's Phone Number:<br /><%= number_to_phone(@horse.user.phone_number) %></p>
            <p class="card-text"><p>Breed: <%= @horse.breed %>
            <br />                  Discipline: <%= @horse.discipline %></p>                       
            <br />
            <h4 class="card-header lead">Registered Name:
            <br /><%= @horse.registered_name %></h4>
          </div>
          <div class="btn-group" role="group" aria-label="Basic example">
            <% if current_user.admin? || current_user.manager?  %>
            <%= link_to 'Update Horse', edit_horse_path(params[:id]), class: "btn btn-primary" %>
            <% end %>
            <%= link_to 'View Farrier', farrier_path(@horse.farrier_id), class: "btn btn-info" %>
            <%= link_to 'View Vet', veterinarian_path(@horse.veterinarian.id), class: "btn btn-secondary"%>
          </div>
      </div>    
    </div>
    <div class="col">
      <div class="list-group" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#problems-tab" role="tab" >View Problems</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#notes-tab" role="tab" >View Notes</a>
      </div>
    </div>
    <div class="col">
      <div class="anyList">
        <div class="tab-content" >
          <div class="tab-pane fade active" id="charges-tab" role="tabpanel"></div>
            <div class="tab-pane fade active" id="problems-tab" role="tabpanel">
              <% @problems.each do |p| %>
              <% if p.horse.id === @horse.id %>
              <a href= <%= problem_path(p.id) %>>
              <p><%= p.date.strftime("%b. %d, %Y") %>: <%= p.description %>: <%= p.notes %></p>
              <% end %>
              <% end %>
            </div></a>
            <div class="tab-pane fade" id="notes-tab" role="tabpanel">
              <% @notes.each do |n| %>
              <% if n.horse.id === @horse.id %>
              <a href= <%= note_path(n.id) %>>
              <p><%= n.created_at.strftime("%b. %d, %Y") %>: <%= n.text %></p>
              <% end %>
              <% end %>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
