<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col">
          <h5 class='display-4 text-center'>Your Information<h5>
        <div class='container text-center'>
          <h1><%= @user.name %></h1>
          <%= @user.phone_number %><br />
          <%= @user.address %> <br />
          <%= @user.city %>, <%= @user.state %> <%= @user.zip_code %></p>
          <p><%= @user.email %><br />
        </div>
    </div>
  </div>
</div>
<!-------- Admin Add/View Roles-------->
<div class="container text-center">
  <div class="row">
    <div class="col-sm">
      <% if current_user.admin? %>
              <h3 class='text-center' id="allHorses">All Horses</h3>
              <% @horse.each do |h| %>
              <a class="list-group-item list-group-item-action text-center overflow-auto" href=<%= horse_path(h.id) %>><%= h.barn_name %></a>
        <% end %>
  </div>
    <div class="col-md">
      <h3 class='text-center' id="allAdmin">Admin Functions</h3>
        <div class="list-group text-center" id="adminViews">
          <a href= <%= new_horse_path %> class="list-group-item list-group-mine list-group-item-action text-primary">Add New Horse</a>
          <a href= <%= new_coggin_path %> class="list-group-item list-group-mine list-group-item-action text-primary">Add New Coggins File</a>
          <a href= <%= new_charge_path %> class="list-group-item list-group-mine list-group-item-action text-primary">Add New Charge</a>
          <a href= <%= new_note_path %> class="list-group-item list-group-mine list-group-item-action text-primary">Add New Note</a>
          <a href= <%= new_veterinarian_path %> class="list-group-item list-group-mine list-group-item-action text-primary">Add New Veterinarian</a>
          <a href= <%= new_farrier_path %> class="list-group-item list-group-mine list-group-item-action text-primary">Add New Farrier</a>
          <a href= <%= veterinarians_path %> class="list-group-item list-group-mine list-group-item-action text-info">View Active Veterinarians</a>
          <a href= <%= farriers_path %> class="list-group-item list-group-mine list-group-item-action text-info">View Active Farriers</a>
        </div>
    </div>
<!--------Non Admin View Below--------->
  <% else %>
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-header text-center">
         Your Horses
        </div>
        <div class="list-group list-group-flush">
        <% @horse.each do |h| %>
        <% if h.user.id === @user.id %>
          <ul class="list-group list-group-horizontal">
            <a class="list-group-item list-group-item-action" href=<%= horse_path(h.id) %>><%= h.barn_name%></a>
          </ul>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
  </div>
  <br />
<!------------ Modals ----------->

  <!-- Modal Add Problem -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add A New problem</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
          <div class="modal-body">
            <%= render template: "/problems/_new" %>
          </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal Edit Users -->
  <div class="modal fade" id="editUsers" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Edit Users</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
         <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<br />
<br />
<!-- Calendar 
<div class="container">
  <% if current_user.admin? || current_user.manager?  %>
    <div class='calendar'></div>
    <% else %>
    <div class='usr_calendar'></div>
  <% end %>
</div> -->

