<br>
  <div class='container'>
    <div class="row">
      <div class="small-6 large-centered columns">
        <div id='event_info'>
          <h1> For: <%= @event.horse.barn_name%><h1>
          <div id='event_data'>
            <h3><%= @event.date.strftime("%B %d, %Y")%> at <%= @event.time %></h3>
            <h3>Description: <%= @event.description %></h3>
            <h3>Additional Info: <%= @event.notes %></h3>
            <% if current_user.admin? %>
              <%= link_to 'Edit', edit_event_path(params[:id]) %><br />
              <%= link_to 'Back to Horse', horse_path(@event.horse_id) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div