<br />
<%= simple_form_for @farrier do |f| %>
<% if @farrier.errors.any? %>
<div id="error_explanation-farrier">
        <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this farrier from being saved:</h2>
        <ul>
        <% @farrier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<div class='container'>
  <%= bootstrap_form_for(@farrier) do |f| %>
    <%= f.text_field "name" %>
    <%= f.phone_field :phone_number %>
    <%= f.text_field :address %>
    <%= f.text_field :city %>
    <%= f.text_field :state %>
    <%= f.number_field :zip_code %>
    <%= f.submit "update", class: 'btn btn-outline-primary' %> <%= link_to "Back", :back, class: 'btn btn-outline-secondary' %>
    <br />
    <br />
    <%= link_to "Delete Farrier", farrier_path(@farrier.id), data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger', method: :delete %>
  <% end %>
</div>
