
<h2>A problem has been updated for your horse: <b><em><%= @horse.barn_name%></em></b></h2>
<hr>
<h3> Hello <%= @horse.user.name %>, </h3>
<p>
<br />
<br />
On <%= @problem.date.strftime("%m/%d/%Y") %> at <%= @problem.time %> an update was submitted for a previous issue related to your horse.
<br />
<br />
This update was submitted by: <strong><%= @current_user.name %>.</strong>
<br />
<br />
The results of the issue can be found by logging in <strong>here:</strong>
and going to your profile.
<br />
<br />
Once in your profile page, lcik on the horse this email relates to
and click on the problems link.
<br />
<br />
This wil allow you to see all active problems that relate to your horse.
<br />
<br />
We've also included the submission details below:
<br />
<br />
<hr>
<strong>Problem Description:</strong><em> <%= @problem.description %></em>
<br />
<br />
<strong>Notes:</strong><em> <%= @problem.notes%></em>
<hr>
<br />
<br />
If you have any issues please email us at: <a href="mailto:maneframeapp@gmail.com">maneframeapp@gmail.com</a>
<br />
<br />
Thank You!
</p>






