<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <p> Hello,</p> 
            <p> The charge for <em><%= @charge.description %></em> in the amount of <mark>$<%= @charge.amount%></mark>
            was created on: <b><%= @charge.created_at.strftime("%b. %d, %Y,  %I:%M %p ") %></b></p>
            <p>If you would like to settle this charge now, you can do so by clicking the pay now button!</p>
                <br />
            <p> The last update to this charge was on:
            <b><%= @charge.updated_at.strftime("%b. %d, %Y, %I:%M %p") %></b></p>
                <br />
            <p class="btn btn-primary">Pay Now</p>

        </div>
    </div>
    <br />
    <% if current_user.admin? %>
        <%= link_to 'Edit', edit_charge_path(params[:id]) %> <br />
        <%= link_to 'Back to Horse', horse_path(@charge.horse_id) %>
     <% else %>
        <% if current_user.boarder? %>
            <%= link_to 'Back', current_user %>
        <% end %>
        <% end %>
</div>
