<!DOCTYPE html>
  <html>
    <head>
      <title>Middleton Equestiran Center | Horse Manager</title>
          <!-- Required meta tags -->
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/'  %>
      <%= csrf_meta_tags %>
      <%= tag :meta, name: "stripe-key", content: Rails.application.credentials.stripe_public %>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>

    <!-------- START NAVIGATION -------->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <%= image_tag 'headerlogo.png', {class: 'img-fluid'} %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <li class='nav-link <%= params[:controller] == 'user' ? 'active' : '' %>'>
                  <%= link_to "Home", root_path(current_user) %>
        </li>
        <% if user_signed_in? %>
        <li class='nav-link <%= params[:controller] == 'user' ? 'active' : '' %>'>
                  <%= link_to "My Account", user_path(current_user) %>
                  </li>
        <li class='nav-link <%= params[:controller] == 'user' ? 'active' : '' %>'>
                  <%= link_to "Edit Account", edit_user_registration_path %>
                  </li>
        <li class='nav-link <%= params[:controller] == 'user' ? 'active' : '' %>'>
                  <%= link_to "Sign Out", destroy_user_session_path, { method: :delete } %></li>
                  <% else %>
                  <% end %>
        </li>
    </div>
  </nav>
  <!-------- END NAVIGATION -------->

  <!-------- START HEADER INFO -------->
  <body>
    <div class="container">
      <div class="py-4"><br/>
        <section class="jumbotron jumbotron-fluid text-center">
          <div class="container">
            <h1 class="jumbotron-heading display-4">Middleton Equestrian Center</h1>
              <p class="lead text-muted">Horse Mangement Application</p>          
          </div>
        </section>
      </div>  
    </div>
  <!-------- END HEADER INFO -------->
  <!-------- START BODY -------->
  <% if user_signed_in? %>
  <% end %>
  <!-- Alerts & Messages -->
    <% if flash[:notice] %>
      <div class='alert alert-success text-center'><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class='alert alert-danger text-center'><%= flash[:alert] %></div>
    <% end %>
  <!-- End Alerts & Messages-->
      <%= yield %>
     <div id='remote_container'></div>

  </body>
    <!-------- END BODY -------->
    <!-------- START FOOTER -------->
    <!--------END FOOTER -------->
  </html>


